* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana;
}

#header-main {
	display: flex;
	width: 100vw;
	height: 10vh;
}

#header-sub1 {
	width: 30vw;
	height: 10vh;
	text-align: center;
	font-size: 45px;
	padding-top: 20px;
}

#header-sub2 {
	display: flex;
	width: 70vw;
	height: 10vh;
}
#header-sub2 > button {
	position: relative;
	top: 0;
	width: 25%;
	height: 10vh;
	margin: auto;
	font-size: 35px;
	background-color: white;
	color: black;
	text-shadow: none;
	border: none;
	border-radius: 0;
	transition: border-radius 500ms, background-color 500ms, top 500ms, text-shadow 500ms, color 500ms;
}
#header-sub2 > button:hover {
	top: 10px;
	text-shadow: 1px 1px 2px black;
	color: white;
	background-color: #AEDAAC;
	border-radius: 15px;
	cursor: pointer;
}

#wrapper {
	display: flex;
	width: 100vw;
	height: 1000px;
	margin-top: 50px;
}

#bg-left {
	width: 25%;
	height: 1000px;
}

#main-content {
	width: 50%;
	height: 1000px;
}

#bg-right {
	width: 25%;
	height: 1000px;
}




/*Elements that were created via JavaScript*/

.beer-links-header {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	color: black;
	text-shadow: none;
	transition: background-color 250ms, font-size 250ms, color 250ms;
}
.beer-links-header:hover {
	background-color: #BAD486;
	color: white;
	font-size: 1.1em;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
}
.beer-links-header > div {
	width: 25%;
	height: 5vh;
	text-align: center;
	padding-top: 1.5vh;
}

.beer-links-header2 {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}
.beer-links-header2 > div {
	width: 25%;
	height: 5vh;
	text-align: center;
	padding-top: 1.5vh;
	border-right: 1px solid black;
}
.beer-links-header2 > div:hover {
	box-shadow: 1px 1px 10px black;
}
.beer-links-header2 > div:last-child {
	border-right: none;
}




.cider-links-header {
	display: flex;
	flex-wrap: wrap;
	font-size: 1em;
	color: black;
	text-shadow: none;
	transition: background-color 250ms, font-size 250ms, color 250ms;
}
.cider-links-header:hover {
	background-color: #E4E490;
	color: white;
	font-size: 1.1em;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
}
.cider-links-header > div {
	width: 25%;
	height: 5vh;
	text-align: center;
	padding-top: 1.5vh;
}

.cider-links-header2 {
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}
.cider-links-header2 > div {
	width: 25%;
	height: 5vh;
	text-align: center;
	padding-top: 1.5vh;
	border-right: 1px solid black;
}
.cider-links-header2 > div:hover {
	box-shadow: 1px 1px 10px black;
}
.cider-links-header2 > div:last-child {
	border-right: none;
}




