#recipe-main {
	display: flex;
	width: 100vw;
	height: 10vh;
	background-color: lightgreen;
}
#recipe-title {
	width: 20vw;
	height: 10vh;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}
#short-desc {
	width: 35vw;
	height: 10vh;
	text-align: center;
	font-size: 15px;
	padding-top: 25px;
}
#abv, #rating {
	width: 15vw;
	height: 10vh;
	text-align: center;
	font-size: 15px;
	padding-top: 25px;
}
#brew-home {
	width: 15vw;
	height: 10vh;
	font-size: 15px;
}


#recipe-wrapper {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 100vw;
	height: auto;
	margin-top: 10vh;
}
#recipe-wrapper > div {
	width: 40%;
	height: 500px;
	background-color: lightblue;
	padding: 20px;
}


#user-comments {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	height: auto;
	margin-top: 10vh;
}
#user-comments > div {
	width: 40%;
	height: 500px;
	background-color: lightgray;
	padding: 20px;
}
#reviews-comments > div {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}


